# Código de inicialización
Este código permite inicializar las bibliotecas para usar SQLite en la máquina virtual de Google Colab. El código además elimina cualquier dato almacenado anteriormente en el archvio `ejemplos.db`. Es recomendable volver a correr el código cada vez que se comience con la resolución de un nuevo ejercicio.

In [1]:
!pip install pymysql
%load_ext sql
!rm -rf ejemplos.db
%sql sqlite:///ejemplos.db

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 2.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

# TP2: Ejercicios de SQL


## EJERCICIO 1:  Base de datos para un club náutico

### Descripción:
Se quiere diseñar una base de datos relacional para gestionar los datos de los socios de un club náutico. De cada socio se guardan los datos personales y la información de los barcos que posee:
- Número de matrícula, nombre, número de amarre, cuota.

Además, se almacena información sobre las salidas realizadas por cada barco:
- Fecha y hora de salida, destino y datos del patrón (que no tiene que ser el propietario ni un socio del club).

### Esquema propuesto:
- Tabla `Socios`: Almacena la información de los socios del club.
- Tabla `Barcos`: Almacena la información de los barcos y sus propietarios.
- Tabla `Salidas`: Almacena la información de las salidas realizadas por los barcos.

### Esquema de tablas
Este sería el esquema de tablas en lenguaje DBML

```dbml
Table Socios {
    id_socio INT [pk]
    nombre VARCHAR(100)
    direccion VARCHAR(255)
}

Table Barcos {
    matricula VARCHAR(20) [pk]
    nombre VARCHAR(100)
    numero_amarre INT
    cuota DECIMAL(10, 2)
    id_socio INT [ref: > Socios.id_socio]
}

Table Salidas {
    id_salida INT [pk]
    matricula VARCHAR(20) [ref: > Barcos.matricula]
    fecha_salida DATE
    hora_salida TIME
    destino VARCHAR(100)
    patron_nombre VARCHAR(100)
    patron_direccion VARCHAR(255)
}
```

### Escriba abajo el código SQL necesario para crear las tablas:

In [6]:
%%sql

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

El código SQL de abajo le permite popular (es decir, rellenar) las tablas con datos.

In [8]:
%%sql
-- Populación de las tablas
INSERT INTO Socios (id_socio, nombre, direccion)
VALUES
(1, 'Juan Pérez', 'Calle Mayor 1, Madrid'),
(2, 'Ana García', 'Calle Luna 5, Barcelona'),
(3, 'Luis Fernández', 'Avenida del Sol 10, Valencia'),
(4, 'Laura Sánchez', 'Plaza del Mar 3, Alicante'),
(5, 'Carlos López', 'Calle Río 8, Sevilla'),
(6, 'Marta Díaz', 'Calle de la Sierra 12, Zaragoza'),
(7, 'Pedro Gómez', 'Calle Nueva 20, Bilbao'),
(8, 'Lucía Jiménez', 'Calle Real 30, Madrid'),
(9, 'María Torres', 'Calle Verde 15, Málaga'),
(10, 'Fernando Martín', 'Calle Azul 25, Murcia');

INSERT INTO Barcos (matricula, nombre, numero_amarre, cuota, id_socio)
VALUES
('ABC123', 'El Viento', 12, 600.50, 1),
('DEF456', 'La Brisa', 8, 450.00, 2),
('GHI789', 'El Sol', 15, 700.00, 3),
('JKL012', 'El Mar', 10, 550.75, 4),
('MNO345', 'La Luna', 18, 620.30, 5),
('PQR678', 'El Horizonte', 20, 780.90, 6),
('STU901', 'El Amanecer', 5, 400.00, 7),
('VWX234', 'La Estrella', 7, 520.50, 8),
('YZA567', 'La Marea', 14, 480.75, 9),
('BCD890', 'El Océano', 6, 630.80, 10);

INSERT INTO Salidas (id_salida, matricula, fecha_salida, hora_salida, destino, patron_nombre, patron_direccion)
VALUES
(1, 'ABC123', '2023-07-15', '10:30:00', 'Mallorca', 'Patrón 1', 'Calle de la Playa 1, Palma'),
(2, 'DEF456', '2023-07-20', '09:00:00', 'Ibiza', 'Patrón 2', 'Avenida del Puerto 3, Valencia'),
(3, 'GHI789', '2023-07-22', '08:45:00', 'Menorca', 'Patrón 3', 'Calle de la Costa 10, Alicante'),
(4, 'JKL012', '2023-07-25', '11:15:00', 'Mallorca', 'Patrón 4', 'Plaza del Faro 5, Barcelona'),
(5, 'MNO345', '2023-08-01', '14:00:00', 'Formentera', 'Patrón 5', 'Calle del Puerto 20, Ibiza'),
(6, 'PQR678', '2023-08-05', '07:30:00', 'Mallorca', 'Patrón 6', 'Calle de las Olas 15, Palma'),
(7, 'STU901', '2023-08-10', '12:00:00', 'Ibiza', 'Patrón 7', 'Avenida de la Marina 7, Barcelona'),
(8, 'VWX234', '2023-08-12', '09:30:00', 'Cabrera', 'Patrón 8', 'Calle del Mar 12, Alicante'),
(9, 'YZA567', '2023-08-15', '10:00:00', 'Formentera', 'Patrón 9', 'Calle del Sol 4, Ibiza'),
(10, 'BCD890', '2023-08-20', '08:00:00', 'Menorca', 'Patrón 10', 'Plaza del Faro 2, Palma');

 * sqlite:///ejemplos.db
(sqlite3.OperationalError) no such table: Socios
[SQL: -- Populación de las tablas
INSERT INTO Socios (id_socio, nombre, direccion)
VALUES
(1, 'Juan Pérez', 'Calle Mayor 1, Madrid'),
(2, 'Ana García', 'Calle Luna 5, Barcelona'),
(3, 'Luis Fernández', 'Avenida del Sol 10, Valencia'),
(4, 'Laura Sánchez', 'Plaza del Mar 3, Alicante'),
(5, 'Carlos López', 'Calle Río 8, Sevilla'),
(6, 'Marta Díaz', 'Calle de la Sierra 12, Zaragoza'),
(7, 'Pedro Gómez', 'Calle Nueva 20, Bilbao'),
(8, 'Lucía Jiménez', 'Calle Real 30, Madrid'),
(9, 'María Torres', 'Calle Verde 15, Málaga'),
(10, 'Fernando Martín', 'Calle Azul 25, Murcia');]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Resolver estas consignas sin usar JOIN:
Estas consirgnas deben resolverse usando lo visto en la clase del lunes 16/09 antes de ver la parte de JOIN. Esto es: subconsultas, etc.
1. ¿Qué socios tienen barcos amarrados en un número de amarre mayor que 10?

SELECT id_socio, nombre
FROM Socios
WHERE id_socio IN (
    SELECT id_socio
    FROM Barcos
    WHERE numero_amarre > 10
);

In [10]:
%%sql

SELECT id_socio, nombre
FROM Socios
WHERE id_socio IN (
    SELECT id_socio
    FROM Barcos
    WHERE numero_amarre > 10
);

 * sqlite:///ejemplos.db
(sqlite3.OperationalError) no such table: Socios
[SQL: SELECT id_socio, nombre
FROM Socios
WHERE id_socio IN (
    SELECT id_socio
    FROM Barcos
    WHERE numero_amarre > 10
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

2. ¿Cuáles son los nombres de los barcos y sus cuotas de aquellos barcos cuyo socio se llama 'Juan Pérez'?

In [12]:
%%sql

SELECT nombre, cuota
FROM Barcos
WHERE id_socio = (
    SELECT id_socio
    FROM Socios
    WHERE nombre = 'Juan Pérez'
);

 * sqlite:///ejemplos.db
(sqlite3.OperationalError) no such table: Barcos
[SQL: SELECT nombre, cuota
FROM Barcos
WHERE id_socio = (
    SELECT id_socio
    FROM Socios
    WHERE nombre = 'Juan Pérez'
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

3. ¿Cuántas salidas ha realizado el barco con matrícula 'ABC123'?

In [13]:
%%sql

SELECT COUNT(*)
FROM Salidas
WHERE matricula = 'ABC123';

 * sqlite:///ejemplos.db
(sqlite3.OperationalError) no such table: Salidas
[SQL: SELECT COUNT(*)
FROM Salidas
WHERE matricula = 'ABC123';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

4. Lista los barcos que tienen una cuota mayor a 500 y sus respectivos socios.

In [14]:
%%sql

SELECT B.nombre AS barco, B.cuota, S.nombre AS socio
FROM Barcos B
WHERE B.cuota > 500 AND B.id_socio IN (
    SELECT id_socio
    FROM Socios
);

 * sqlite:///ejemplos.db
(sqlite3.OperationalError) no such table: Barcos
[SQL: SELECT B.nombre AS barco, B.cuota, S.nombre AS socio
FROM Barcos B
WHERE B.cuota > 500 AND B.id_socio IN (
    SELECT id_socio
    FROM Socios
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

5. ¿Qué barcos han salido con destino a 'Mallorca'?

In [16]:
%%sql
SELECT matricula
FROM Salidas
WHERE destino = 'Mallorca';

 * sqlite:///ejemplos.db
(sqlite3.OperationalError) no such table: Salidas
[SQL: SELECT matricula
FROM Salidas
WHERE destino = 'Mallorca';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

6. ¿Qué patrones (nombre y dirección) han llevado un barco cuyo socio vive en 'Barcelona'?

In [17]:
%%sql
SELECT DISTINCT patron_nombre, patron_direccion
FROM Salidas
WHERE matricula IN (
    SELECT matricula
    FROM Barcos
    WHERE id_socio IN (
        SELECT id_socio
        FROM Socios
        WHERE direccion LIKE '%Barcelona%'
    )
);

 * sqlite:///ejemplos.db
(sqlite3.OperationalError) no such table: Salidas
[SQL: SELECT DISTINCT patron_nombre, patron_direccion
FROM Salidas
WHERE matricula IN (
    SELECT matricula
    FROM Barcos
    WHERE id_socio IN (
        SELECT id_socio
        FROM Socios
        WHERE direccion LIKE '%Barcelona%'
    )
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Resolver nuevamentos los incisos, pero ahora usa JOIN
1. ¿Qué socios tienen barcos amarrados en un número de amarre mayor que 10?

In [18]:
%%sql
SELECT P.nombre, P.direccion
FROM Procuradores P
JOIN Asuntos_Procuradores AP ON P.id_procurador = AP.id_procurador
JOIN Asuntos A ON AP.numero_expediente = A.numero_expediente
WHERE A.estado = 'Abierto';

 * sqlite:///ejemplos.db
(sqlite3.OperationalError) no such table: Procuradores
[SQL: SELECT P.nombre, P.direccion
FROM Procuradores P
JOIN Asuntos_Procuradores AP ON P.id_procurador = AP.id_procurador
JOIN Asuntos A ON AP.numero_expediente = A.numero_expediente
WHERE A.estado = 'Abierto';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

2. ¿Cuáles son los nombres de los barcos y sus cuotas de aquellos barcos cuyo socio se llama 'Juan Pérez'?

In [19]:
%%sql
SELECT C.nombre
FROM Clientes C
JOIN Asuntos A ON C.dni = A.dni_cliente
JOIN Asuntos_Procuradores AP ON A.numero_expediente = AP.numero_expediente
JOIN Procuradores P ON AP.id_procurador = P.id_procurador
WHERE P.nombre = 'Juan Pérez';

 * sqlite:///ejemplos.db
(sqlite3.OperationalError) no such table: Clientes
[SQL: SELECT C.nombre
FROM Clientes C
JOIN Asuntos A ON C.dni = A.dni_cliente
JOIN Asuntos_Procuradores AP ON A.numero_expediente = AP.numero_expediente
JOIN Procuradores P ON AP.id_procurador = P.id_procurador
WHERE P.nombre = 'Juan Pérez';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

3. ¿Cuántas salidas ha realizado el barco con matrícula 'ABC123'?

In [20]:
%%sql
SELECT COUNT(S.id_salida) AS total_salidas
FROM Salidas S
JOIN Barcos B ON S.matricula = B.matricula
WHERE B.matricula = 'ABC123';

 * sqlite:///ejemplos.db
(sqlite3.OperationalError) no such table: Salidas
[SQL: SELECT COUNT(S.id_salida) AS total_salidas
FROM Salidas S
JOIN Barcos B ON S.matricula = B.matricula
WHERE B.matricula = 'ABC123';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

4. Lista los barcos que tienen una cuota mayor a 500 y sus respectivos socios.

In [21]:
%%sql
SELECT B.nombre AS barco, B.cuota, S.nombre AS socio
FROM Barcos B
JOIN Socios S ON B.id_socio = S.id_socio
WHERE B.cuota > 500;

 * sqlite:///ejemplos.db
(sqlite3.OperationalError) no such table: Barcos
[SQL: SELECT B.nombre AS barco, B.cuota, S.nombre AS socio
FROM Barcos B
JOIN Socios S ON B.id_socio = S.id_socio
WHERE B.cuota > 500;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

5. ¿Qué barcos han salido con destino a 'Mallorca'?

In [22]:
%%sql
SELECT DISTINCT B.nombre AS barco
FROM Salidas S
JOIN Barcos B ON S.matricula = B.matricula
WHERE S.destino = 'Mallorca';

 * sqlite:///ejemplos.db
(sqlite3.OperationalError) no such table: Salidas
[SQL: SELECT DISTINCT B.nombre AS barco
FROM Salidas S
JOIN Barcos B ON S.matricula = B.matricula
WHERE S.destino = 'Mallorca';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

6. ¿Qué patrones (nombre y dirección) han llevado un barco cuyo socio vive en 'Barcelona'?

In [23]:
%%sql
SELECT DISTINCT S.patron_nombre, S.patron_direccion
FROM Salidas S
JOIN Barcos B ON S.matricula = B.matricula
JOIN Socios SO ON B.id_socio = SO.id_socio
WHERE SO.direccion LIKE '%Barcelona%';

 * sqlite:///ejemplos.db
(sqlite3.OperationalError) no such table: Salidas
[SQL: SELECT DISTINCT S.patron_nombre, S.patron_direccion
FROM Salidas S
JOIN Barcos B ON S.matricula = B.matricula
JOIN Socios SO ON B.id_socio = SO.id_socio
WHERE SO.direccion LIKE '%Barcelona%';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)


## EJERCICIO 2: Base de datos para un gabinete de abogados

### Descripción:
Se quiere diseñar una base de datos relacional para almacenar información sobre los asuntos que lleva un gabinete de abogados. Cada asunto tiene un número de expediente que lo identifica y corresponde a un solo cliente. Del asunto se debe almacenar:
- Período (fecha de inicio y fecha de archivo o finalización)
- Estado (en trámite, archivado, etc.)
- Datos personales del cliente (DNI, nombre, dirección, etc.)

Algunos asuntos son llevados por uno o varios procuradores, de los que nos interesa también almacenar los datos personales.

### Esquema propuesto:
- Tabla `Clientes`: Almacena la información de los clientes: dni (clave primaria), nombre y dirección.
- Tabla `Asuntos`: Almacena la información de los asuntos: numero de expediente (clave primaria), dni del cliente (clave externa), fecha de inicio, fecha de fin y estado (Abierto o Cerrado). Si el asunto está abierto, no tiene fecha de fin.
- Tabla `Procuradores`: Almacena la información de los procuradores: id del procurador (clave priaria), nombre y dirección.
- Tabla `Asuntos_Procuradores`: Relaciona los asuntos con los procuradores (muchos a muchos).

### SQL para crear las tablas:

In [24]:
%%sql

Create table Clientes(
  dni varchar(8) primary key,
  nombre varchar(100),
  direccion varchar(255)
);

 * sqlite:///ejemplos.db
Done.

[]

In [ ]:
%%sql
-- Poblar la tabla Clientes
INSERT INTO Clientes (dni, nombre, direccion)
VALUES
('123456789', 'Juan Pérez', 'Calle Pueyrredón 3498, Buenos Aires'),
('987654321', 'Ana García', 'Calle 5 323, La Plata'),
('456123789', 'Luis Fernández', 'Avenida de Gral. Paz 1056, Bahía Blanca');
('45667876' , 'Soledad Castanio' , 'Calle Alem 4567, Bahía Blanca');
('37667987', 'Fernando Gutierrez', 'Calle Colon 48, Bahía Blanca');

-- Poblar la tabla Asuntos
INSERT INTO Asuntos (numero_expediente, dni_cliente, fecha_inicio, fecha_fin, estado)
VALUES
(1, '123456789', '2023-01-15', '2023-07-20', 'Cerrado'),
(2, '987654321', '2023-05-10', NULL, 'Abierto'),
(3, '456123789', '2023-06-01', '2023-09-10', 'Cerrado');
(4, '987765438', '2022-03-04', '2024-02-08', 'Cerrado');

-- Poblar la tabla Procuradores
INSERT INTO Procuradores (id_procurador, nombre, direccion)
VALUES
(1, 'Laura Sánchez', 'Calle Soler 3765, Buenos Aires'),
(2, 'Carlos López', 'Calle Estrellas 8, Mar del Plata'),
(3, 'Marta Díaz', 'Calle Estación 12, Olavarria');

-- Poblar la tabla Asuntos_Procuradores
INSERT INTO Asuntos_Procuradores (numero_expediente, id_procurador)
VALUES
(1, 1),
(2, 2),
(3, 3),
(2, 1);  -- Un asunto puede tener varios procuradores

### Resolver estas consignas usando _únicamente_ JOIN en las consultas:
1. ¿Cuál es el nombre y la dirección de los procuradores que han trabajado en un asunto abierto?

In [25]:
%%sql
SELECT P.nombre, P.direccion
FROM Procuradores P
JOIN Asuntos_Procuradores AP ON P.id_procurador = AP.id_procurador
JOIN Asuntos A ON AP.numero_expediente = A.numero_expediente
WHERE A.estado = 'Abierto';

 * sqlite:///ejemplos.db
(sqlite3.OperationalError) no such table: Procuradores
[SQL: SELECT P.nombre, P.direccion
FROM Procuradores P
JOIN Asuntos_Procuradores AP ON P.id_procurador = AP.id_procurador
JOIN Asuntos A ON AP.numero_expediente = A.numero_expediente
WHERE A.estado = 'Abierto';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

2. ¿Qué clientes han tenido asuntos en los que ha participado el procurador Carlos López?

In [26]:
%%sql
SELECT C.nombre
FROM Clientes C
JOIN Asuntos A ON C.dni = A.dni_cliente
JOIN Asuntos_Procuradores AP ON A.numero_expediente = AP.numero_expediente
JOIN Procuradores P ON AP.id_procurador = P.id_procurador
WHERE P.nombre = 'Carlos López';

 * sqlite:///ejemplos.db
(sqlite3.OperationalError) no such table: Asuntos
[SQL: SELECT C.nombre
FROM Clientes C
JOIN Asuntos A ON C.dni = A.dni_cliente
JOIN Asuntos_Procuradores AP ON A.numero_expediente = AP.numero_expediente
JOIN Procuradores P ON AP.id_procurador = P.id_procurador
WHERE P.nombre = 'Carlos López';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

3. ¿Cuántos asuntos ha gestionado cada procurador?

In [27]:
%%sql
%%sql
SELECT P.nombre, COUNT(AP.numero_expediente) AS total_asuntos
FROM Procuradores P
LEFT JOIN Asuntos_Procuradores AP ON P.id_procurador = AP.id_procurador
GROUP BY P.nombre;

 * sqlite:///ejemplos.db
(sqlite3.OperationalError) near "%": syntax error
[SQL: %%sql
SELECT P.nombre, COUNT(AP.numero_expediente) AS total_asuntos
FROM Procuradores P
LEFT JOIN Asuntos_Procuradores AP ON P.id_procurador = AP.id_procurador
GROUP BY P.nombre;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

4. Lista los números de expediente y fechas de inicio de los asuntos de los clientes que viven en Buenos Aires.

In [28]:
%%sql
SELECT A.numero_expediente, A.fecha_inicio
FROM Asuntos A
JOIN Clientes C ON A.dni_cliente = C.dni
WHERE C.direccion LIKE '%Buenos Aires%';

 * sqlite:///ejemplos.db
(sqlite3.OperationalError) no such table: Asuntos
[SQL: SELECT A.numero_expediente, A.fecha_inicio
FROM Asuntos A
JOIN Clientes C ON A.dni_cliente = C.dni
WHERE C.direccion LIKE '%Buenos Aires%';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

# Entrega
La entrega consiste en completar esta hoja y subirla a su repositorio GIT
Se deben entregar también los diagramas de esquema de tablas como imagenes aparte.
Fecha límite: 30 de septiembre a las 23:59 hs